@import './variables.scss';

#portfolio-contact {
	background: $transition-linear-light;
	padding: 20px;
	padding-top: 100px;
	width: 100%;
	form {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 100%;
		label {
			align-items: center;
			display: flex;
			flex-direction: column;
			width: 100%;
    }
		textarea {
			height: 200px;
    }
		div {
			&.button-form-contact {
				align-items: center;
				display: flex;
				justify-content: center;
				margin: 10px 0;
				position: relative;
				width: 100%;
      }
    }
		button {
			background-color: $button-light;
			border: none;
			border-radius: 10px;
			color: $button-text;
			font-weight: 600;
			margin: 0 20px;
			width: 50%;
			&:disabled {
				cursor: not-allowed;
				opacity: 0.2;
      }
			&:hover {
				opacity: 0.5;
      }
    }
		svg {
			position: absolute;
			right: 0;
    }
  }
	.contact-body {
		display: flex;
		justify-content: center;
		width: 90%;
		.contact-body-others { 
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			width: 35%;
			img {
				width: 30px;
      }
			a {
				align-items: center;
				border-radius: 10px;
				color: inherit;
				display: flex;
				font-size: 17px;
				font-weight: 400;
				text-decoration: none;
				margin: 20px 0;
				width: 0;
				img {
					margin-right: 10px;
        }

				&:hover {
					background-color: $purple-light;
					font-weight: 600;
					transition: 1s;
					width: 50%;
				}
      }
    }
  }
}

#portfolio-contact form input, #portfolio-contact form textarea {
	border: none;
	border-radius: 10px;
	width: 100%;
}

@media only screen and (min-width: 1000px) {
  #portfolio-contact form {
    width: 30%;
  }
}
