@import './variables.scss';

#portfolio {
	#header-top {
		align-content: center;
		align-items: center;
		display: flex;
		flex-flow: column;
		justify-content: center;
		padding: 10px 0;
		width: 100%;
		#header-menu {
			.nav-link {
				display: inline-block;
				padding: 5px 20px;
      }
    }
    .button-logo {
      background-color: transparent;
      border: none;
      .logo-title {
        font-size: 30px;
      }
    }
  }
	#header-menu {
		display: none;
  }
	#logo {
		border-radius: 100%;
		margin-bottom: 10px;
		width: 50px;
  }
}

.nav-link {
	text-decoration: none;
}


@media only screen and (min-width: 1000px) {
  #portfolio {
    #header-top {
      flex-flow: row;
      justify-content: space-between;
      position: fixed;
      z-index: 30;
      #header-menu {
        .nav-link {
          display: inline-block;
          font-weight: 600;
          padding: 0 50px;
        }
      }
      .button-logo {
        .logo-title {
          font-size: unset();
        }
      }
    }
    #header-menu {
      display: block;
    }
    #logo {
      border-radius: 100%;
      width: 50px;
    }
  }

  #portfolio #header-top h1, #header-top nav {
    margin: 20px 40px;
  }
}
