#portfolio {
	font-family: Montserrat, Monospace, Arial;
	font-size: 16px;
	line-height: 30px;
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 300px;
	width: 100%;
	.blur {
		filter: blur(20px);
		transition: 0.5s;
  }
	.not-blur { 
		filter: blur(0);
		transition: 0.5s;
  }
	.illustration {
		width: 40% !important;
  }
	section {
		margin: 0 10px;
  } 
	.projects-portfolio {
		margin-top: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  #portfolio {
    .illustration {
      width: 600px;
    }
    section {
      margin: 0 20px;
    }
    .projects-portfolio {
      margin-top: 100px;
    }
  }
}