@import './variables.scss';

#portfolio {
	#projects {
		align-items: center;
		background: $transition-linear-light;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		margin-bottom: 50px;
		width: 100%;
		.project-div {
			height: 150px;
			position: relative;
			background-color: transparent;
			border: none;
			margin: 0 5px;
			width: 45%;
			span {
				background-color: $purple-light;
				border-radius: 5px 5px 0 0;
				position: absolute;
				top: 0;
				right: 0;
				margin-top: 20px;
				width: 100%;
      }
			img {
				border-radius: 0 0 5px 5px;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  #portfolio #projects .project-div {
		height: 210px;
    width: 45%;
  }
}

@media only screen and (min-width: 1000px) {
  #portfolio #projects .project-div {
		height: 300px;
    width: 20%;
  }
}
