@import './variables.scss';

#portfolio {
	.hardskills-item {
		align-items: center;
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin: 10px;
  }
	.center-title {
		text-align: center;
  }
	.hardskills-img {
		margin-bottom: 10px;
		width: 50px;
  }
	#skills {
		display: flex;
		flex-direction: column;
		margin: 20px 0;
  }
}

@media only screen and (min-width: 1000px) {
  #portfolio {
    #skills {
      background: $transition-linear-light;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 0 auto;
      padding: 100px 80px;
      position: relative;
    }
    .hardskills {
      display: flex;
      flex-flow: wrap;
      padding: 0;
      position: relative;
      margin: 0 auto;
    }
    .hardskills-item {
      align-items: center;
      align-content: center;
      display: flex !important;
      flex-direction: column;
      justify-content: flex-end;
      transition: 1s;
      position: absolute;
      top: 50px;
      right: 50%;
      &.shadow {
        animation: shadow 1s ease-in-out both;
      }
    }
    .hardskills-img {
      margin-bottom: 10px;
      width: 50px;
    }
    .center-title {
      text-align: center;
    }
  }
}

@for $i from 1 through $sides {
  li.shadow-left-#{$i} {
    animation: shadow-left-#{$i} 1s ease-in-out both;
  }
  li.shadow-right-#{$i} {
    animation: shadow-right-#{$i} 1s ease-in-out both;
  }
  
  @if $i < $sides {
    @keyframes shadow-left-#{$i} {
      0% {
        @if $i == 1 {
          transform: scale(($sides -$i) * 0.3)  translateX(0);
          opacity: 1;
        } @else {
          transform: scale(($sides -$i) * 0.3)  translateX(($i - 1) * -50px);
          opacity: ($i * 0.1);
        }
        z-index: ($skills - $i);
      }
      100% {
        transform: scale(($sides - $i - 1) * 0.3)  translateX($i * -50px);
        opacity: $i * 0.1;
        z-index: ($skills - $i);
      }
    }
    @keyframes shadow-right-#{$i} {
      0% {
        @if $i == 1 {
          transform: scale(($sides -$i - 1) * 0.3)  translateX(50px);
        } @else {
          @if $i == ($sides - 1) {
            transform: scale(($sides - $i) * 0.3)  translateX($i * -45px);
          } @else {
            transform: scale(($sides -$i - 1) * 0.3)  translateX($i * 50px);
          }
        }
        opacity: ($i * 0.1);
        z-index: ($skills - $i);
      }
      100% {
        @if $i == 1 { 
          opacity: 1;
        } @else {
          opacity: ($i * 0.1);
        }
        transform: scale(($sides - $i) * 0.3)  translateX(($i - 1) * 50px);
        z-index: ($skills - $i);
      }
    }
  }
}

@keyframes shadow {
  0% {
    transform: scale(($sides - 5) * 0.3)  translateX(4 * -50px);
  }
  100% {
    transform: scale(0)  translateX(0);
  }
}
