body {
  background-color: rgb(245, 245, 245);
  font-family: Montserrat, Monospace, Arial;
  font-size: 16px;
  line-height: 30px;
  margin: 0 auto;
}

.illustration {
  width: 600px;
}

section {
  margin: 0 20px;
}

#header-top {
  align-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  color: white;
  flex-flow: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 30;
}

#header-top h1, #header-top nav {
  margin: 20px 40px;
}

#header-top #header-menu .nav-link {
  color: white;
  display: inline-block;
  font-weight: 600;
  padding: 0 50px;
}

#header-top #header-menu .nav-link:hover {
  border-bottom: 2px solid #6c63ff;
}

#header-top .logo-title {
  color: #6c63ff;
}

#logo {
  border-radius: 100%;
  width: 50px;
}

#footer {
  background-color: black;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 10px;
}

#home {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 650px;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

#home .home-word-p {
  font-size: 20px;
}

#skills {
  background: linear-gradient(0deg, rgba(31,31,31,0) 0%, rgba(230,230,230,1) 20%, rgba(230,230,230,1) 80%, rgba(54,54,54,0) 100%);
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 100px 80px;
}

#skills .soft-skills {
  display: flex;
  list-style: none;
}

#skills .soft-skills li {
  display: block;
  margin: 10px;
}

#hardskills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  width: 50%;
}

#hardskills li {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
}

#project-div {
  align-items: stretch;
  align-content: center;
  display: flex;
  flex-flow: wrap;
  font-size: 25px;
  font-weight: 700;
  justify-content: center;
  position: relative;
}

#project-div .project-item {
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 330px;
  margin: 30px;
  width: 400px;
  text-align: center;
  transition: 1s;
}

.project-item:active {
  transform: scale(2);
  position: fixed;
  margin: 0 auto;
  top: 200px;
  transition: 1s;
  z-index: 30;
}

.project-img {
  height: 250px !important;
  width: 100% !important;
}

#contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#contact a {
  align-items: center;
  color: #6c63ff;
  display: flex;
  font-weight: 600;
  text-decoration: none;
  margin: 20px 0;
}

#contact .contact-icons {
  margin: 0 10px;
  width: 40px;
}

.center-title {
  text-align: center;
}

.hardskills-img {
  margin-bottom: 10px;
  width: 50px;
}

.hide-ul {
  display: none;
}

.show-ul {
  cursor: auto;
  display: block;
  font-weight: 300;
}

.hide-ul-title {
  border-bottom: 1px solid black;
  cursor: pointer;
  display: block!important;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.rede-social {
  margin: 0 15px;
  width: 25px;
}

.rede-social:hover {
  transform: translateY(-5px);
}

.rede-social:active {
  transform: translateY(5px);
}

.git {
  border-radius: 2px;
  background-color: white;;
}

.link-none {
  text-decoration: none;
  color: inherit
}

#project {
  margin: 0 auto;
  width: 90%;
}

.slick-next {
  background-color: rgba(0, 0, 0, 0.637) !important;
  border-radius: 0 20px 20px 0;
  transform: translateX(0px) translateY(-111px) !important;
  height: 90% !important;
  width: 40px !important;
}

.slick-prev {
  background-color: rgba(0, 0, 0, 0.637) !important;
  border-radius: 20px 0 0 20px;
  transform: translateX(0px) translateY(-111px) !important;
  height: 90% !important;
  width: 40px !important;
  z-index: 30;
}

.slick-next:hover, .slick-prev:hover {
  background-color: rgba(0, 0, 0, 0.918) !important;
}

.slide.demo div {
  text-align: center;
}
