body {
  background-image: url('imgs/bkaquarela.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

button {
  border: none;
  background-color: rgba(255, 141, 221, 0.562);
  border-radius: 20px;
  box-shadow: 3px 3px 3px black;
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 8px;
}

button:hover {
  border: none;
  background-color: rgb(255, 141, 221);
}

button:active {
  box-shadow: none;
  transform: translateY(5px);
}

#title {
  background-color: rgba(177, 250, 255, 0.842);
  border-radius: 20px;
  padding: 15px;
  margin: 10px auto;
  width: 300px;
}

#rgb-color {
  background-color: rgba(255, 141, 221, 0.562);
  border-radius: 20px;
  display: block;
  font-size: 25px;
  font-style: italic;
  margin: 30px auto;
  width: 300px;
}

#div-balls {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
}

#answer {
  background-color: rgba(177, 250, 255, 0.842);
  border-radius: 20px;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
}

#score {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 5px auto;
  width: 100px;
}

.ball {
  background-color: white;
  border-radius: 100%;
  height: 100px;
  margin: 10px;
  width: 100px;
}
