body {
  background-image: url('images/walpmine.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: monospace;
}

header {
  background-image: url('images/header.jpeg');
  background-size: contain;
  display: block;
  text-align: center;
  width: 100%;
}

button {
  background-image: url('images/button2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  font-size: 20px;
  height: 65px;
  padding: 5px;
  font-family: monospace;
  width: 200px;
}

button:hover {
  background-color: rgb(73, 73, 73);
}

button:active {
  background-color: black;
  transform: translateY(5px);
  transition-duration: 0.5s;
}

.color {
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  margin: 5px;
  width: 100px;
  height: 150px;
}

div .color:hover {
  transform: translateY(-20px);
  transition-duration: 1s;
  width: 12em;
}

div.selected {
  transform: translateY(-20px);
  width: 12em;
}

#title {
  background-image: url('images/escrita.png');
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 400px;
}

#buttonsInputs {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

#color-palette {
  text-align: center;
  margin: 50px;
  padding: 10px;
}

#pixel-board {
  background-image: url('images/painel.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  text-align: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

#label-pixel {
  display: inline-block;
  background-image: url('images/escrita.png');
  background-size: contain;
  font-weight: 600;
  font-size: 20px;
  width: 300px;
  padding: 20px;
}

#board-size {
  display: inline-block;
  background-image: url('images/escrita.png');
  background-size: contain;
  color: blue;
  font-weight: 600;
  font-size: 20px;
  width: 100px;
  padding: 18px;
}

#altenate-color {
  background-image: url('images/button2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  padding: 10px;
  font-family: monospace;
  width: 200px;

}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: -3px;
  margin-bottom: -5px;
}

.line {
  display: block;
  text-align: center;
  padding: 10px;
}
