/*
Utilizado o: https://cssgenerator.org/box-shadow-css-generator.html
para sombras e transições de animação
 */

body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-image: url('images/postit.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  margin: 30px auto;
  height: 300px;
  text-align: center;
}

main {
  background-color: white;
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 30%;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: aqua;
  border: none;
  box-shadow: 5px 5px 5px black;
  padding: 10px;
  transform: skew(-23deg);
  margin: 5px;
}

button:hover {
  background-color: rgb(238 , 255 , 0);
  cursor: grabbing;
}

button:active {
  background-color: green;
  box-shadow: 5px 5px 20px black;
  transition: 1s;
  transform: rotate(13deg) translate(1px , -28px);
}

#div-title {
  padding: 90px;
  font-style: italic;
  letter-spacing: 5px;
  line-height: 30px;
}

#texto-tarefa {
  width: 80%;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through;
}

.itemList {
  border-bottom: 1px solid black;
}

.parte-superior {
  background-color: black;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 5px 5px 6px rgba(0 , 0 , 0 , 0.75);
  transform: rotate(10deg) skew(-4deg) translate(1px , -50px);
  margin-left: 15%;
  height: 40px;
  width: 15px;
}

.parte-inferior {
  background-color: black;
  border-radius: 100%;
  transform: translate(-8px , 30px);
  height: 30px;
  width: 30px;
}
