#portfolio  {
  background-color: rgb(245, 245, 245);
  font-family: Montserrat, Monospace, Arial;
  font-size: 16px;
  line-height: 30px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#portfolio .blur {
  filter: blur(20px);
  transition: 0.5s;
}

#portfolio .not-blur {
  filter: blur(0);
  transition: 0.5s;
}

#portfolio .illustration {
  padding-top: 80px;
  width: 100%;
}

#portfolio section {
  margin: 0 10px;
}

@media only screen and (min-width: 1000px) {
  #portfolio .illustration {
    width: 600px;
  }

  #portfolio section {
    margin: 0 20px;
  }
}
