.button-back-to-home {
  background-color: #6c63ff;
  border: none;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  font-weight: 700;
  left: 50px;
  padding: 10px 15px;
  position: fixed;
  transition: 1s;
  overflow-x: hidden;
  top: 50px;
  width: 50px;
}

.button-back-to-home:hover {
  transition: 1s;
  border-radius: 20px;
  width: 300px;
}
