#portfolio-contact {
  background: var(--transition-linear-light);
  padding: 20px;
  padding-top: 100px;
  width: 100%;
}

#portfolio-contact form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

#portfolio-contact form label {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#portfolio-contact form input, #portfolio-contact form textarea {
  border: none;
  border-radius: 10px;
  width: 100%;
}

#portfolio-contact form textarea {
  height: 200px;
}

#portfolio-contact form div.button-form-contact {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

#portfolio-contact form button {
  background-color: var(--purple);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  margin: 0 20px;
  width: 50%;
}

#portfolio-contact form button:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

#portfolio-contact form button:hover {
  opacity: 0.5;
}

#portfolio-contact form svg {
  position: absolute;
  right: 0;
}

#portfolio-contact .contact-body {
  display: flex;
  justify-content: center;
  width: 90%;
}

#portfolio-contact .contact-body .contact-body-others {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
}

#portfolio-contact .contact-body .contact-body-others img {
  width: 30px;
}

#portfolio-contact .contact-body .contact-body-others a {
  align-items: center;
  display: flex;
  color: inherit;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  margin: 20px 0;
  width: 100%;
}

#portfolio-contact .contact-body .contact-body-others a img {
  margin-right: 10px;
}

@media only screen and (min-width: 1000px) {
  #portfolio-contact form {
    width: 30%;
  }
}