#portfolio #header-top {
  align-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 40%);
  display: flex;
  color: white;
  flex-flow: column;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

#portfolio #header-top #header-menu .nav-link {
  display: inline-block;
  padding: 5px 20px;
}

#portfolio #header-top .logo-title {
  color: var(--purple);
}

#portfolio #header-menu {
  display: none;
}

#portfolio #logo {
  border-radius: 100%;
  margin-bottom: 10px;
  width: 50px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  #portfolio #header-top {
    flex-flow: row;
    justify-content: space-between;
    position: fixed;
    z-index: 30;
  }
  
  #portfolio #header-top h1, #header-top nav {
    margin: 20px 40px;
  }

  #portfolio #header-menu {
    display: block;
  }
  
  #portfolio #header-top #header-menu .nav-link {
    border-bottom: 2px solid transparent;
    color: white;
    display: inline-block;
    font-weight: 600;
    padding: 0 50px;
  }
  
  #portfolio #header-top #header-menu .nav-link:hover {
    border-bottom: 2px solid var(--purple);
  }
  
  #portfolio #logo {
    border-radius: 100%;
    width: 50px;
  }
}
