#project-div {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
}

#project-div .project-item {
  align-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-flow: column;
  height: 300px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

#project-div .project-img {
  height: 100px;
  width: 100%;
}

.link-none {
  color: black;
  text-decoration: none;
}

.project-img {
  height: 250px !important;
  width: 100% !important;
}

.project-show {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.767);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
}

.project-show div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.project-show img {
  transform: scale(0.7);
  max-width: 100vw;
  position: relative;
}

.project-show span {
  display: block;
  color: #6c63ff;
  font-size: 40px;
  font-weight: 600;
}

.project-show div p {
  display: block;
  position: relative;
  color: white;
  width: 95%;
}

.project-show div a {
  color: magenta;
  display: block;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.project-show div a:hover {
  color: hsl(300, 100%, 80%);
}

.project-show-exit {
  border: 1px solid lightgray;
  border-radius: 100%;
  color: lightgray;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 20px;
}

.project-show-exit:hover {
  border: 1px solid white;
  color: white;
}

@media only screen and (min-width: 1000px) {
  #project-div {
    align-items: stretch;
    align-content: center;
    display: flex;
    flex-flow: wrap;
    font-size: 25px;
    font-weight: 700;
    justify-content: center;
    position: relative;
  }
  
  #project-div .project-item {
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 330px;
    margin: 30px;
    width: 400px;
    text-align: center;
    transition: 1s;
  }
  
  .project-item:active {
    transform: scale(2);
    position: fixed;
    margin: 0 auto;
    top: 200px;
    transition: 1s;
    z-index: 30;
  }
  
  .project-img {
    height: 250px !important;
    width: 100% !important;
  }

  .link-none {
    text-decoration: none;
    color: inherit
  }

  #project {
    margin: 0 auto;
    width: 90%;
  }

  .slick-next {
    background-color: rgba(0, 0, 0, 0.637) !important;
    border-radius: 0 20px 20px 0;
    transform: translateX(0px) translateY(-111px) !important;
    height: 90% !important;
    width: 40px !important;
  }

  .slick-prev {
    background-color: rgba(0, 0, 0, 0.637) !important;
    border-radius: 20px 0 0 20px;
    transform: translateX(0px) translateY(-111px) !important;
    height: 90% !important;
    width: 40px !important;
    z-index: 30;
  }

  .slick-next:hover, .slick-prev:hover {
    background-color: rgba(0, 0, 0, 0.918) !important;
  }

  .slide.demo div {
    text-align: center;
  }

  .project-show {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2000;
  }

  .project-show div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 60%;
  }

  .project-show img {
    transform: scale(0.7);
    max-width: 60vw;
    position: relative;
  }

  .project-show span {
    display: block;
    color: #6c63ff;
    font-size: 40px;
    font-weight: 600;
  }

  .project-show div p {
    display: block;
    position: relative;
    color: white;
    width: 60%;
  }

  .project-show div a {
    color: magenta;
    display: block;
    font-weight: 600;
    text-decoration: none;
    position: relative;
  }

  .project-show div a:hover {
    color: hsl(300, 100%, 80%);
  }

  .project-show-exit {
    border: 1px solid lightgray;
    border-radius: 100%;
    color: lightgray;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 20px;
  }

  .project-show-exit:hover {
    border: 1px solid white;
    color: white;
  }
}