#portfolio #projects {
  align-items: center;
  background: linear-gradient(0deg, rgba(31,31,31,0) 0%, rgba(230,230,230,1) 20%, rgba(230,230,230,1) 80%, rgba(54,54,54,0) 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0 10px;
  margin-bottom: 50px;
  width: 100%;
}

#portfolio #projects .project-div {
  height: 200px;
  width: 50%;
}

@media only screen and (min-width: 500px) {
  #portfolio #projects .project-div {
    height: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  #portfolio #projects .project-div {
    width: 25%;
  }
}
