* {
  margin: 0;
  box-sizing: border-box;
}

body, #root, #trybewallet, #drinks-and-foods {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#trybetunes, #trivia {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}